@model IndexModel

<main>
  <div id="control">
    <form asp-controller="Home" asp-action="StartKompas" method="POST">
      <input type="submit" value="Запустить KOMPAS-3D">
	</form>
    <form asp-controller="Home" asp-action="StopKompas" method="POST">
      <input type="submit" value="Остановить KOMPAS-3D">
    </form>
  </div>
  <br>
  <div id="request">
    <form asp-controller="Home" asp-action="SayHello" method="POST">
      <input type="text" asp-for="Data!.Text" required>
      <input type="submit" value="SayHello">
    </form>
    @if (TempData.ContainsKey("response")) {
      <p>Ответ: @TempData["response"]</p>
    }
  </div>
</main>
